{% extends 'pages/base-instructor.html' %}
{% load static %}
{% block head %}
  <script defer src="{% static 'js/mis-talleres.js' %}"></script>
{% endblock %}
{% block body %}
  <article class="container-fluid text-center px-4 px-md-5 mt-3" id="articleMisTalleres">
    <h3>Mis talleres</h3>
    <div class="row">
      {% for taller in talleres %}
        {% include 'components/CardMisTalleresInstr.html' with taller=taller %}
      {% endfor %}
    </div>
  </article>

  <article class="container-fluid text-center px-4 px-md-5 mt-3"></article>

  <small>Página referencial no funcional</small>
{% endblock %}
