{% extends 'pages/base-admin.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block body %}
  <div class="table-responsive shadow">
    <h2 class="text-center pt-3">Salas</h2>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th style="min-width: 9rem;" class="w-10">Nombre</th>
          <th style="min-width: 9rem;" class="w-10">Descripción</th>
          <th style="min-width: 12rem;" class="w-10"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sala artes</td>
          <td>Sala con caballetes y con suelo impermeable</td>
          <td>
            <button type="button" class="btn btn-primary btnPago">Modificar</button>
            <button type="button" class="btn btn-primary btnPago">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Sala cocina</td>
          <td>Sala con insumos de cocina y hornos</td>
          <td>
            <button type="button" class="btn btn-primary btnPago">Modificar</button>
            <button type="button" class="btn btn-primary btnPago">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="btnModificar" class="d-flex flex-column align-items-center" onclick="location.href='{% url 'crear_sala' %}'">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
      </svg>
      <small>Crear sala</small>
    </div>
  </div>
{% endblock %}
