{% extends 'pages/base.html' %}

{% block body %}
  <article class="container-fluid text-center px-4 px-md-5 mt-3">
    <div class="row">
      <div class="col-9 text-start">
        <h3>Algunos talleres</h3>
      </div>
      <div class="col-3 text-end">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'talleres' %}'">Ver más</button>
      </div>
      {% comment %} <div class="col-2 bg-success">Column</div>
      <div class="col-12">Column</div> {% endcomment %}
    </div>

    <div class="row">
      {% comment %} {% for i in 4  %} {% endcomment %}
        {% include "components/card_taller.html" with descripcion="descripcion Prueba" horario="10:30 pm Lunes" profesor="David Zamora" cupos="10" %}
      {% comment %} {% endfor %} {% endcomment %}
    </div>

    <div class="row p-5">
      <div class="col-12 col-lg-6 col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.309944366196!2d-70.58284801924033!3d-33.59726169156964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d6557f41bdbf%3A0xc6b9ae259e0332fc!2sMunicipalidad%20de%20Puente%20Alto!5e0!3m2!1ses!2scl!4v1730485098254!5m2!1ses!2scl" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12 col-lg-6 col-md-4">
        <h5>Encuentranos</h5>
        <p class="text-start">La Municipalidad de Puente Alto ofrece talleres gratuitos para adultos mayores, diseñados para promover el bienestar y la inclusión social. Estas actividades incluyen manualidades, clases de baile y talleres de cocina saludable, fomentando la creatividad, la actividad física y la socialización. Inscripciones abiertas en las oficinas municipales o a través de la página web. ¡Únete y disfruta de una experiencia enriquecedora en comunidad!</p>
      </div>
    </div>

  </article>
{% endblock %}
