{% extends 'pages/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/miperfil.css' %}" />
{% endblock %}

{% block body %}
  <article class="container border p-4 rounded mt-3">
    <small>Mi perfil</small>
    <div class="text-center">
      <h3>{{ adulto.p_nombre }} {{ adulto.s_nombre }} {{ adulto.p_apellido }} {{ adulto.s_apellido }}</h3>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <h4>Mi informacion personal</h4>
      </div>
      <div class="col-12 col-sm-6">
        <p>Nacimiento : {{ adulto.fecha_nacimiento|date:'d/m/Y' }}</p>
        <p>Email : {{ adulto.email }}</p>
        <p>Genero : {{ adulto.genero.nombre }}</p>
        <p>Comuna : {{ adulto.comuna.nombre }}</p>
        <p>Dirección : {{ adulto.direccion }}</p>
      </div>
    </div>

    <section class="d-flex gap-3 justify-content-end">
      <div class="d-flex flex-column align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
        </svg>
        <small>Modificar</small>
      </div>
      <div id="btnDelete" class="d-flex flex-column align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
          <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708" />
        </svg>
        <small>Eliminar perfil</small>
      </div>
    </section>
  </article>
  <script src="{% static 'js/perfil.js' %}"></script>
{% endblock %}
