{% load static %}

<div class="col-6 col-lg-3 mb-3 d-flex">
  <div class="card h-100 tarjeta" style="width: 100%;">
    <h2 style="margin-top: 1rem;">{{ taller.nombre }}</h2>
    <hr />
    <div class="card-body text-start">
      <p>Descripción: {{ taller.descripcion }}</p>
      <p>Horario: {{ taller.horario }}</p>
      <p>Profesor: {{ taller.instructor.p_nombre }} {{ taller.instructor.p_apellido }}</p>
    </div>
    <div class="card-body text-start">
      {% if user.is_authenticated %}
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btnInscribir" data-id={{ taller.id }}>
        Inscribirse
      </button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inscripción</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h1 id="tallerId"></h1>
            <h4 id="modalNombreTaller"></h4>
            <p id="modalFechaInicio"></p>
            <p id="modalFechaFin"></p>
            <p id="modalHorario"></p>
          </div>
          <div class="modal-footer">
            <h6>¿Desea inscribirse a este taller?</h6>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      {% endif %}
      </div>
  </div>
</div>
<script src="{% static 'js/inscripcion.js' %}"></script>