<div class="col-6 col-lg-3 mb-3 d-flex">
  <div class="card h-100" style="width: 100%;">
    <h2 style="margin-top: 1rem;">{{ taller.nombre }}</h2>
    <hr />
    <div class="card-body text-start">
      <p>Descripción: {{ taller.descripcion }}</p>
      <p>Horario: {{ taller.horario }}</p>
      <p>Profesor: {{ taller.instructor.p_nombre }} {{ taller.instructor.p_apellido }}</p>
    </div>
    <div class="card-body text-start">
      <a href="#" class="btn btn-primary">Inscribirse</a>
    </div>
  </div>
</div>
